.Footer{
    background-color: #333333;
    width:100%;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .Footer-Link{
    flex: 1;
    color: white;
    text-decoration: none;
    font-size: 32px;
  }
  
  .Footer-Link:visited{
    color:white;
    text-decoration: none;
  }